$ff: 'Montserrat', sans-serif;
$lh: 1.5;
$wh: #ffffff;
$bl: #1D3A44;
$red: #B71923;
$d-red: #A80D16;
$gray: #828594;
$o-gray: rgba(130, 133, 148, .2);
$lgray: #F9FAFC;

$maxWidth: 1920;
@mixin adaptive-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}